@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu";
  overflow-x: hidden;
}

.video-background {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .video-background video {
    object-fit: contain;
  }
}
